extends layout

block content
    div.row
        div.small-6.large-6.columns
            h1 Hello #{user.name.first}
            h3 We are still building your profile. Soon you'll be able to see your friends score, check your game statistics and much more!
            br
            br
            br
            div.row
                div.small-6.large-6.columns
                    img.profileImg(src="#{user.photo}?type=large")
                div.small-6.large-6.columns
                    a(href="/") Play Game!
                    br
                    br
                    a(href="/logout") Log Out





h1 All Users

h2 Hi, my name is #{user.name.first}
h3 my id is #{user._id}
h4 and my password is #{user.password.main}

br
br

a(href="/logout") Log Out

br
br

a(href="/users/new") New user
br
br
br
br
br
p Linking
ul
    li
        h2 Local Password
        
        if(!user.password.main)
            a(href="/profile/edit") Add Password
        else
            p email (#{user.email})
    li
        h2 Facebook

        if(user.social.facebook.token)
            p id => #{user.social.facebook.id}
            br
            a(href="/unlink/facebook") Unlink
        else
            a.facebook(href="/connect/facebook") <i class="fa fa-facebook"></i> Facebook Connect
    li
        h2 Twitter

        if(user.social.twitter.token)
            p id => #{user.social.twitter.id}
            br
            a(href="/unlink/twitter") Unlink
        else
            a.twitter(href="/connect/twitter") <i class="fa fa-twitter"></i> Twitter Connect
    li
        h2 Google

        if(user.social.google.token)
            p id => #{user.social.google.id}
            br
            a(href="/unlink/google") Unlink
        else
            a.google(href="/connect/google") <i class="fa fa-google-plus"></i> Google Connect