extends layout

block content
    div.topbar
        a#flappy(href="/flappy")Flappy Bird joins Numbers Clash!</a>

    script.
        var logged;

    if(user)
        script.
            logged = true;
    else
        script.
            logged = false;
        
    div.loginBar
        
        if(!user.id)
            div.login
                ul
                    li: a.loginUser(href="/login", alt="login") Login
                    li: a.signup(href="/signup", alt="signup") Signup
            div.loginFace
                a.facebook(href="/auth/facebook") <i class="fa fa-facebook"></i> with Facebook
        else
            div.logged
                ul
                    li 
                        a(href="/profile")
                            if(user.photo)
                                img.loginImg(src="#{user.photo}")
                            else
                                img.loginImg(src="images/avatar.png")
                            |#{user.name.first}
                    li: a(href="/logout") Log Out

        
    div.leaderboard
        h2 Leaderboards
        section.tabs
            input#tab-1.tab-selector-1(type="radio", name="radio-set", checked="checked")
            label.tab-label-1(for="tab-1") Friends

            input#tab-2.tab-selector-2(type="radio", name="radio-set")
            label.tab-label-2(for="tab-2") NC Users

            input#tab-3.tab-selector-3(type="radio", name="radio-set")
            label.tab-label-3(for="tab-3") Global

            div.clear-shadow

            div.tabcontent
                div.content-1
                    if(friends)
                        table
                            tr
                                td User
                                td Score
                            for friend in friends
                                tr
                                    td
                                        if(friend.photo)
                                            img.lphoto(src="#{friend.photo}")
                                        else
                                            img.lphoto(src="images/avatar.png")

                                        p #{friend.name.first}

                                    td #{friend.scores.best}
                    else
                        br
                        h2 Compare you score with friends on the leaderboard!
                        br
                        ul.facebookLog
                            li
                                a.facebook(href="/auth/facebook") <i class="fa fa-facebook"></i> Facebook Login
                div.content-2
                    table
                        tr
                            td User
                            td Score
                        for uleads in ulead
                            tr
                                td
                                    if(uleads.photo)
                                        img.lphoto(src="#{uleads.photo}")
                                    else
                                        img.lphoto(src="images/avatar.png")

                                    p #{uleads.name.first}

                                td #{uleads.scores.best}
                    

                div.content-3
                    table
                        tr
                            td User
                            td Score
                        for leads in lead
                            tr
                                td: p Anonymous
                                td #{leads.score}

    div.container
        div.heading
            h1.title NumbersClash
            if(user)
                if(user.onOffSwitch === true)
                    div.timer
                        span#timer 00 : 00 : 00 : 000
                        div.onoffswitch
                            input.onoffswitch-checkbox#myonoffswitch(type="checkbox", name="onoffswitch", checked="checked")
                            label.onoffswitch-label(for="myonoffswitch")
                                div.onoffswitch-inner
                                div.onoffswitch-switch
            else
                div.timer
                    span#timer 00 : 00 : 00 : 000
                    div.onoffswitch
                        input.onoffswitch-checkbox#myonoffswitch(type="checkbox", name="onoffswitch", checked="checked")
                        label.onoffswitch-label(for="myonoffswitch")
                            div.onoffswitch-inner
                            div.onoffswitch-switch

            div.scores-container
                div.score-container 0
                div.best-container 0
        
        p.game-intro Join the numbers to get to the <strong>2048 tile...<small>or more!</small></strong>

        div.game-container
            div.game-message
                p
                div.lower
                    a.keep-playing-button keep going
                    a.retry-button Try again
                    br
                    br
                    a.facebookShare(target="_blank")<i class="fa fa-facebook"></i> Share your score!
                    br
                    br
                    a.twitterShare(target="_blank")<i class="fa fa-twitter"></i> Tweet your score!

            div.grid-container
                div.grid-row
                    div.grid-cell
                    div.grid-cell
                    div.grid-cell
                    div.grid-cell
                div.grid-row
                    div.grid-cell
                    div.grid-cell
                    div.grid-cell
                    div.grid-cell
                div.grid-row
                    div.grid-cell
                    div.grid-cell
                    div.grid-cell
                    div.grid-cell
                div.grid-row
                    div.grid-cell
                    div.grid-cell
                    div.grid-cell
                    div.grid-cell

            div.tile-container
        
        div.sharing
            ul
                li(style="position:relative;")
                    a.facebook#facebookShare(href="https://www.facebook.com/sharer/sharer.php?u=http://bit.ly/1iuNwt7", target="_blank") <i class="fa fa-facebook"></i> Share on Facebook
                    div.share-bubble(style="border-color: #EEE4DA; background: #EEE4DA;") 5.5K
                li
                    a.twitter#twitterShare(href="https://twitter.com/home?status=%23NumbersClash%20http://bit.ly/OScOH8%20A%20better,%20more%20social%20and%20engagind,%202048/threes%20game!", target="_blank") <i class="fa fa-twitter"></i> Share on Twitter
                li
                    a.google#googleShare(href="https://plus.google.com/share?url=http://bit.ly/1iuNr8S", target="_blank") <i class="fa fa-google-plus"></i> Share on Google+

        p.game-explanation <strong class="important">How to play:</strong>Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong> The more tiles you merge, the more <strong>points you earn!</strong>
        hr
        p.created Based on the <a href="http://gabrielecirulli.github.io/2048/", alt="Gabriele's version", target="_blank">MIT licensed version</a> created by <a href="http://gabrielecirulli.com" target="_blank">Gabriele Cirulli</a>, which is based on <a href="https://itunes.apple.com/us/app/1024!/id823499224" target="_blank">1024 by Veewo Studio</a> and conceptually similar to <a href="http://asherv.com/threes/" target="_blank">Threes by Asher Vollmer.</a>
        hr
        p <strong>Contact and Feature Request:</strong> numbersclash@normalquestions.com
        hr
        p <strong> Donations: </strong>
            form#donation(action="https://www.paypal.com/cgi-bin/webscr&lc=US", method="post", style="width:200px;margin:0 auto;", target="_top")
                input(type="hidden", name="cmd", value="_s-xclick")
                input(type="hidden", name="hosted_button_id", value="VB5ERDLADVXJU")
                input(type="image", src="images/paypal.png", border="0", name="submit", style="height: 96px;margin:0; width: 200px", alt="PayPal - A easiest and most secure way to make online payments!")
                img(alt="", border="0", src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif", width="1", height="1")

        div.ad
            script( async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins.adsbygoogle(style="display:inline-block;width:160px;height:600px", data-ad-client="ca-pub-5490301168615232", data ad-slot="4091067279")
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});


